html , body {
  min-height: 100vh;
  font-family: Source Sans Pro, sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
}

body {
  color: #333;
  background-color: #f0f0f0;
  font-size: 1.2rem;
}

h1 {
  margin: 0;
  padding: 15px 0 30px;
}

h2 {
  color: #4caf50;
  margin: 0 0 50px 0;
  padding: 0;
  font-size: 2.4em;
  font-weight: normal;
}

a {
  color: #f7df1e;
  text-decoration: none;
}

a:hover {
  color: #e91e63;
}

.about a {
  color: #e91e63;
}
.about a:hover {
  color: #4caf50;
}

code {
  font-family: Source Code Pro, monospace;
  font-size: .75rem;
  background: #fafafa;
  border-radius: 3px;
  padding: 3px 5px;
  line-height: 20px;
}
